.container {
  position: relative;

  .popup {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    position: absolute;
    right: 0;
    top: 40px;
    width: 350px;
    min-width: 350px;
    height: fit-content;
    padding: 15px;
    background-color: var(--card);
    color: var(--contrast);
    border-radius: 8px;
    box-shadow: 1px 0px 14px 1px #d0d0d0;
    text-align: center;
    z-index: 1;

    :global(.ui.radio.checkbox > label) {
      color: var(--contrast);
      font-size: 14px;
    }

    label {
      color: var(--contrast);
      font-size: 16px;
      align-self: flex-start;
      margin-right: 8px;
    }
  }
}
