.alert {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--spacing-1);
  position: fixed;
  bottom: 1.429rem;
  left: 50%;
  padding: var(--spacing-3);
  transform: translate(-50%, 0);
  z-index: 10060;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: whitesmoke;

  > span {
    white-space: nowrap;
  }
}
