.builder {
  display: flex;
  height: 100%;
  padding: 0 var(--spacing-7);
  position: relative;

  .team {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow: auto;
  }

  .placeholder {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-5);
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: var(--font-size-5);
    color: var(--contrast);

    > svg {
      width: 50%;
      max-width: 20rem;

      path {
        fill: var(--contrast);
      }
    }
  }

  .button {
    position: absolute;
    bottom: var(--spacing-3);
    right: var(--spacing-2);
    width: 4rem;
    height: 4rem;
    background-color: var(--badge);
    color: #ffffff;
    transition: all 500ms;
    > i {
      padding-top: var(--spacing-1);
      font-size: var(--font-size-8);
    }

    &:hover {
      background-color: var(--badge);
      color: #ffffff;
    }
  }
}
