.button {
  background-color: transparent !important;
  color: var(--contrast) !important;

  &:hover {
    background-color: transparent !important;
    color: var(--contrast) !important;
  }
}

.template {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2);
  margin-top: var(--spacing-4);
}
