.layout {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  min-height: 0;
  position: relative;

  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-2);
    width: calc(100% - var(--spacing-3));
    height: calc(100% - var(--spacing-3));
    min-height: 0;
    padding: var(--spacing-1);
    transition: all 500ms;
    border-radius: 4px;
  }
}
