.layout {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  min-height: 0;
  position: relative;

  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    min-height: 0;
    padding: 5px;
    transition: all 500ms;
    border-radius: 3px;
  }
}
