.layout {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(0, 1fr);
  height: calc(100% - 40px);
  width: 100%;
  padding: 20px 0;

  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    height: calc(100% - 20px);
    min-height: 0;
    width: calc(100% - 20px);
    padding: 10px;
    max-width: 1200px;
    border: 1px solid black;
    border-radius: 3px;
  }
}
