.container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-4);
  color: var(--contrast);
  box-sizing: unset;
  overflow: auto;

  .customFile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 80%;
    height: fit-content;
    position: relative;

    > .fileText {
      display: flex;
      align-items: center;
      padding: 0 var(--spacing-2);
      height: 100%;
      min-width: 50%;
      background-color: #00000050;
      color: #ffffff;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    > button {
      position: relative;
      border-top-left-radius: unset !important;
      border-bottom-left-radius: unset !important;
    }

    .hiddenFile {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
    }
  }

  .textarea {
    height: 7.143rem;
    min-height: 7.143rem;
    resize: none;
  }

  > p {
    margin-bottom: 0;
  }

  :global(.ui.radio.checkbox > label) {
    color: var(--contrast);
    font-size: var(--font-size-4);
    font-weight: bold;
  }

  > button {
    width: fit-content;
  }

  .apply {
    align-self: flex-end;
    margin-right: var(--spacing-2);
  }
}
