.content {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2);

  .smart {
    font-size: var(--font-size-4);
    > b {
      color: var(--badge);
    }
    > em {
      font-size: var(--font-size-2);
    }
  }

  .description {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-3);

    .number {
      font-weight: bold;
      font-size: var(--font-size-6);
    }
  }
}
