.changelog {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  padding-right: var(--spacing-2);
  overflow: auto;
  color: var(--contrast);

  > h4 {
    font-size: var(--font-size-7);
    > time {
      font-size: var(--font-size-3);
    }
  }

  > ul > li {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-size-3);
  }

  .type {
    display: inline-block;
    font-size: var(--font-size-1);
    border-radius: 999px;
    padding: var(--spacing-1) var(--spacing-2);
    font-weight: bold;
    letter-spacing: 0.054rem;
    margin-right: var(--spacing-3);
  }

  .feature {
    background-color: #c6f6d5;
    color: #276749;
  }

  .update {
    background-color: #bee3f8;
    color: #2b6cb0;
  }

  .fix {
    background-color: #fed7d7;
    color: #9b2c2c;
  }

  .seeMore {
    height: 3.429rem;
    min-height: 3.429rem;
    width: fit-content;
    align-self: center;
  }
}
