.changelog {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  padding-right: 5px;
  overflow: auto;
  color: var(--contrast);

  > h4 {
    font-size: 24px;
    > span {
      font-size: 13px;
    }
  }

  > ul > li {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .type {
    display: inline-block;
    font-size: 10px;
    border-radius: 999px;
    padding: 3px 8px;
    font-weight: bold;
    letter-spacing: 0.75px;
    margin-right: 10px;
  }

  .feature {
    background-color: #c6f6d5;
    color: #276749;
  }

  .update {
    background-color: #bee3f8;
    color: #2b6cb0;
  }

  .fix {
    background-color: #fed7d7;
    color: #9b2c2c;
  }

  .seeMore {
    height: 36px;
    min-height: 36px;
    width: fit-content;
    align-self: center;
  }
}
