.label {
  display: grid;
  place-content: center;
  user-select: none;
}

input[type='range'].input {
  -webkit-appearance: none;
  height: var(--spacing-2);
  align-self: center;
  background: grey;
  border-radius: 5px;
  background-image: linear-gradient(var(--badge), var(--badge));
  background-repeat: no-repeat;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.429rem;
    width: 1.429rem;
    border-radius: 50%;
    background: var(--badge);
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;

    &:hover {
      box-shadow: var(--badgeopac) 0px 0px 0px 8px;
    }

    &:active {
      box-shadow: var(--badgeopac) 0px 0px 0px 11px;
      transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}

.output {
  display: grid;
  place-content: center;
  font-weight: bold;
  border: 1px solid var(--contrast);
  border-radius: 4px;
  padding: var(--spacing-0) var(--spacing-1);
  text-align: center;
  user-select: none;
}
