@import 'src/assets/styles/variables';

.container {
  display: flex;
  flex-flow: column wrap;

  > span {
    @media (max-width: $screen-sm) {
      max-width: 8.929rem;
    }
    max-width: 16.071rem;
  }
}
