.selector {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 2.143rem;
  max-height: 2.143rem;
  padding: var(--spacing-1);
  font-size: var(--font-size-3);
  background-color: var(--card);
  color: var(--contrast);
  border: 1px dashed var(--contrast);
  border-radius: 4px;
  cursor: pointer;
}

.currentMove {
  position: relative;
  .trash {
    position: absolute;
    right: var(--spacing-1);
    top: var(--spacing-1);
    padding: var(--spacing-1) !important;
  }
}

.content {
  > div:first-child {
    margin-bottom: var(--spacing-3);
  }

  .row {
    padding-right: var(--spacing-3);
  }
}
