@import 'src/assets/styles/variables';

.button {
  margin-right: 0 !important;
}

.option {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-2);

  .image {
    height: 3.5rem;
    width: 4.8rem;
  }

  .radio > label {
    color: var(--contrast) !important;
  }
}
