@import 'src/assets/styles/variables';

.button {
  margin-right: 0 !important;
  background-color: transparent !important;
  color: var(--contrast) !important;
  border: 1px var(--contrast) solid !important;
  padding: var(--spacing-2) !important;
  box-shadow: unset !important;

  &:hover {
    background: var(--contrast) !important;
    color: var(--bgprimary) !important;
  }
}

.option {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-2);

  .image {
    height: 3.5rem;
    width: 4.8rem;
  }

  .radio > label {
    color: var(--contrast) !important;
  }
}
