@import 'src/assets/styles/variables';

.button {
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
  margin-right: 0 !important;

  @media (max-width: $screen-sm) {
    padding: var(--spacing-2) !important;
  }
}

.radio > label {
  color: var(--contrast) !important;
}
