.pokemonSelect {
  background: transparent !important;
  border-color: var(--contrast) !important;

  > div {
    color: var(--contrast) !important;
  }

  > i {
    color: var(--contrast);
    top: 0 !important;
  }

  :global(search) {
    color: var(--contrast);
  }

  :global(.ui.image) {
    width: 37.5px !important;
    height: 28px;
  }

  @media (max-width: 550px) {
    font-size: 11px;
  }
}

.label {
  display: flex;
  align-items: center;
  font-weight: bold;

  .innerLabel {
    display: flex;
    flex-flow: column nowrap;
    min-width: 72px;

    > span {
      color: red;
    }
  }

  .dropdownContainer {
    display: flex;
    width: 100%;
  }
}
