.table {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  min-height: 0;
  border-radius: 3px;
  border: 1px solid black;

  .coloredRow {
    background-color: var(--secondary);
  }

  .row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-rows: 100%;
    column-gap: 15px;
    padding: 10px;
    color: var(--contrast);
    &.tableHeader {
      background-color: var(--primary);
      color: #ffffff;
    }

    .delete {
      color: var(--contrast);
    }
  }

  .list {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
}
