.table {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  min-height: 0;

  .row {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    row-gap: 5px;
    height: fit-content;
    margin: 1px 6px 10px 2.5px;
    padding: 10px;
    color: var(--contrast);
    background-color: var(--card);
    transition: all 500ms;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    &.type {
      border: 3px solid;
    }

    .header {
      display: flex;
      justify-content: space-between;

      .location {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        height: 20px;
        min-height: 20px;
      }

      .buttons {
        display: flex;
        gap: 5px;
        > button {
          margin-right: 0 !important;
          font-size: 12px;
        }
      }
    }
  }

  .list {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .noGame {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    gap: 15px;
    height: 1000px;
    min-height: 1000px;
    max-height: 1000px;

    > svg {
      width: 50%;
      max-width: 360px;
      margin-top: 20px;
      path {
        fill: var(--contrast);
      }
    }

    > span {
      font-size: 24px;
      font-weight: bold;
      color: var(--contrast);
    }
  }
}
