.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  position: fixed;
  bottom: var(--spacing-4);
  right: var(--spacing-4);
  background-color: var(--contrast);
  border-radius: 4px;
  padding: var(--spacing-2);
}
