.container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-5);
  color: var(--contrast);

  .currenthpContainer {
    display: flex;
    gap: var(--spacing-3);
    .currenthp {
      width: 3.429rem;
    }
  }

  summary {
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  .fieldset {
    display: grid;
    grid-template-columns: 2.857rem minmax(0, 1fr) 2.857rem;
    column-gap: var(--spacing-3);
    row-gap: var(--spacing-4);
    color: var(--contrast);
    padding: var(--spacing-5);
    border-radius: 4px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: var(--spacing-3);
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
