.badges {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  overflow-y: auto;

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 5px;
    filter: grayscale(1.1);
    background-color: var(--badge);
    padding: 10px;
    border: none;
    border-right: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 4px #999;
    font: inherit;
    color: var(--bgprimary);
    transition: background 0.8s;
    cursor: pointer;

    &:active {
      background-color: var(--badgeflash);
      background-size: 100%;
      transition: background 0s;
    }

    &.active {
      filter: unset;
    }

    &:hover {
      filter: unset;
    }

    &:last-child {
      border-right: none;
    }

    > img {
      height: 45px;
      width: 45px;
      object-fit: contain;
    }

    @media (max-width: 870px) {
      font-size: 12px;
      > img {
        height: 35px;
        width: 35px;
      }
    }

    .levelCap {
      align-self: flex-end;
    }
  }

  .suggestion {
    display: grid;
    place-items: center;
    width: calc(100% - 30px);
    padding: 15px;
    font-size: 24px;
    border: 1px dashed grey;
    background-color: #f2f2f2;
    opacity: 0.9;
  }
}
