.badges {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  overflow-y: auto;

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 5px;
    filter: grayscale(1.1);
    background-color: var(--badge);
    padding: 10px;
    border: none;
    border-right: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 4px #999;
    font: inherit;
    font-weight: bolder;
    color: #0a0a0a;
    transition: background 0.8s;
    cursor: pointer;

    &:active {
      background-color: var(--badgeflash);
      background-size: 100%;
      transition: background 0s;
    }

    &.active,
    &:hover {
      filter: unset;
    }

    &:last-child {
      border-right: none;
    }

    > img {
      height: 45px;
      width: 45px;
      object-fit: contain;
    }

    .levelCap {
      align-self: flex-end;
    }
  }
}
