.badges {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 5px;
    filter: grayscale(1.1);
    background-color: #d46a6a;
    padding: 10px;
    border: none;
    border-right: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 4px #999;
    font: inherit;
    color: white;
    transition: background 0.8s;
    cursor: pointer;

    &:active {
      background-color: #ffaaaa;
      background-size: 100%;
      transition: background 0s;
    }

    &.active {
      filter: unset;
    }

    &:hover {
      filter: unset;
    }

    &:last-child {
      border-right: none;
    }

    .levelCap {
      align-self: flex-end;
    }
  }
}
