@import 'src/assets/styles/variables';

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  height: 100%;
  min-height: 0;
  row-gap: var(--spacing-2);
  column-gap: var(--spacing-2);
  padding: var(--spacing-2);
  overflow: auto;
  position: relative;

  .fieldset {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-5);
    background-color: var(--card);
    border: none;
    border-radius: 4px;
    overflow: auto;
  }

  @media (max-width: $screen-md) {
    padding-bottom: var(--spacing-7);
    .fieldset {
      grid-column: 1 / -1;
    }
  }

  .placeholder {
    grid-column: 1 / -1;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-5);
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: var(--font-size-4);
    color: var(--contrast);

    > svg {
      width: 50%;
      max-width: 20rem;

      path {
        fill: var(--contrast);
      }
    }
  }

  .tabs {
    display: none;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: grey;

    @media (max-width: $screen-md) {
      display: flex;
    }

    .tab {
      flex: 1;
      text-align: center;
      padding: var(--spacing-2);
      background-color: var(--bgsecondary);
      border-top: 1px solid #cccccc;
      color: var(--contrast);
      cursor: pointer;
      font-size: var(--font-size-4);
      font-weight: bold;

      &:first-child {
        border-right: 1px solid #cccccc;
      }

      &.active {
        color: var(--badge);
      }
    }
  }
}
