.content {
  @media (max-width: 550px) {
    min-height: 76vh;
    max-height: 76vh;
  }

  overflow: auto;

  > h3 {
    display: grid;
    place-items: center;
    margin-bottom: 10px;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    .list {
      display: flex;
      flex-flow: row wrap;
      gap: 7px;
    }
  }

  :global(.ui.attached.tabular.menu) {
    border-color: var(--bgsecondary);
  }

  :global(.ui.attached.tabular > .item) {
    color: var(--contrast);
  }

  :global(.ui.attached.tabular > .active.item) {
    background-color: var(--bgsecondary);
    border-color: var(--bgsecondary);
  }

  :global(.ui.bottom.attached.segment) {
    background-color: var(--bgsecondary);
    border-color: var(--bgsecondary);
  }
}
