@import 'src/assets/styles/variables';

.nicknameInput {
  width: 100%;

  > input {
    background-color: transparent !important;
    border-color: var(--contrast) !important;
    color: var(--contrast) !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }

  > button {
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
    margin-right: 0 !important;

    @media (max-width: $screen-sm) {
      padding: var(--spacing-2) !important;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  gap: var(--spacing-0);
  font-weight: bold;
  .innerLabel {
    min-width: 5.143rem;
  }
}
