@import 'src/assets/styles/variables';

.fab {
  display: none;
  position: fixed;
  bottom: var(--spacing-3);
  right: var(--spacing-2);
  z-index: 1;

  .list {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-2);
    align-items: flex-end;

    .listItem {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: var(--spacing-3);

      .label {
        display: grid;
        place-items: center;
        padding: var(--spacing-1) var(--spacing-2);
        height: fit-content;
        border-radius: 4px;
        background: #999999;
        color: #ffffff;
        -webkit-box-shadow: 0 0 3px #fff;
        box-shadow: 0 0 3px #fff;
      }
    }
  }

  @media (max-width: $screen-sm) {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: var(--spacing-2);
  }

  .button {
    width: 4rem;
    height: 4rem;
    background-color: var(--badge);
    color: #ffffff;
    transition: all 500ms;
    > i {
      padding-top: var(--spacing-1);
      font-size: var(--font-size-8);
    }

    &:hover {
      background-color: var(--badge);
      color: #ffffff;
    }
  }
}
