.about {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-3);
  overflow: auto;
  flex: 1;
  font-size: var(--font-size-3) !important;
  overflow: auto;
  color: var(--contrast);

  h3 {
    font-size: var(--font-size-6);
    margin: 0;
  }

  .credits {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-2);
    margin: 0;
    overflow: auto;
    max-height: 45%;
  }

  .stores {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--spacing-3);

    .playstore {
      height: 6.071rem;

      > img {
        height: 100%;
      }
    }

    .microsoft {
      width: 9.071rem;
      min-width: 6.071rem;
      height: 3.714rem;
    }
  }

  .socials {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-2);

    .socialButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.429rem;
      padding: var(--spacing-2);
      font-size: var(--font-size-7);
      border: 2px solid #ffffff;
      border-radius: 4px;
      color: #ffffff;
      position: relative;
      > i {
        padding-top: var(--spacing-0);
      }
      &:hover {
        background-color: #ffffff;
        color: black;
      }

      > span {
        bottom: calc(-1 * var(--spacing-2));
        font-size: var(--font-size-2);
      }
    }
  }
}
