.about {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  overflow: auto;
  flex: 1;
  font-size: 13px !important;
  overflow: auto;
  color: var(--contrast);

  h3 {
    font-size: 20px;
    margin: 0;
  }

  .credits {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    margin: 0;
    overflow: auto;
    max-height: 45%;
  }

  .support {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }

  .stores {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;

    .playstore {
      height: 85px;

      > img {
        height: 100%;
      }
    }

    .microsoft {
      width: 127px;
      min-width: 85px;
      height: 52px;
    }
  }

  .socials {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
  }

  .github {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 5px;
    min-height: 26px;
    font-size: 26px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    position: relative;
    > i {
      padding-top: 2px;
    }
    &:hover {
      background-color: #ffffff;
      color: black;
    }

    > span {
      bottom: -5px;
      font-size: 12px;
    }

    @media (max-width: 550px) {
      padding: 0 5px;
    }
  }
}
