.filter {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  position: relative;
  width: 100%;

  .search {
    flex: 1;
    width: 100%;
  }

  .popup {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    position: absolute;
    right: 0;
    top: 40px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: #ffffff;
    box-shadow: 1px 0px 14px 1px #d0d0d0;
    text-align: center;
    z-index: 1;

    .buttonRow {
      display: flex;
      flex-flow: row wrap;
      gap: 5px;
    }
  }
}
