.filter {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-2);
  position: relative;
  width: 100%;

  .search {
    flex: 1;
    width: 100%;

    > input::-webkit-input-placeholder {
      color: #3f3f3fde;
    }
  }

  .popup {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-2);
    position: absolute;
    right: 0;
    top: 2.857rem;
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-3);
    background-color: #ffffff;
    box-shadow: 1px 0px 14px 1px #d0d0d0;
    text-align: center;
    z-index: 1;

    .buttonRow {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-2);
    }
  }
}
