.page {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2);
  height: 100%;
  padding: 0 var(--spacing-4);

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--contrast);
  }
}
