@import 'src/assets/styles/variables';

.button {
  background-color: transparent !important;
  color: var(--contrast) !important;
  margin: 0;
  box-shadow: none;

  @media (max-width: $screen-sm) {
    display: none !important;
  }

  &:hover {
    background-color: transparent !important;
    color: var(--contrast) !important;
  }
}

.custom {
  display: flex;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}
