.toggles {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: var(--spacing-2);
  column-gap: var(--spacing-2);
}

.spikesContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2);
  color: var(--contrast);

  label {
    color: var(--contrast);
  }

  .spikes {
    display: flex;
    gap: var(--spacing-2);

    :global(.ui.radio.checkbox > label) {
      color: var(--contrast);
      font-size: var(--font-size-4);
    }
  }
}
