.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .gameSelect {
    width: 300px;

    :global(.MuiInput-root) {
      color: var(--contrast);
      border-bottom-color: var(--contrast);
    }

    :global(.MuiInput-underline:before) {
      border-bottom-color: var(--contrast);
    }

    :global(.MuiInput-underline:after) {
      border-bottom-color: var(--contrast);
    }

    :global(.MuiSelect-icon) {
      color: var(--contrast);
    }

    :global(.MuiFormLabel-root) {
      color: var(--contrast);
    }

    input {
      padding: 0 !important;
    }
  }

  .buttons {
    display: flex;
    gap: 8px;
  }

  @media (max-width: 650px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .gameSelect {
      width: 100%;
    }

    .buttons {
      width: 100%;
    }

    .buttons button {
      width: 100%;
      flex: 1;
    }
  }
}
