.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;
    .gameSelect {
      width: 300px;

      :global(.MuiInput-underline:before),
      :global(.MuiInput-underline:after) {
        border-bottom-color: var(--contrast);
      }

      :global(.MuiInput-root),
      :global(.MuiFormLabel-root),
      :global(.MuiInput-underline:before),
      :global(.MuiSelect-icon) {
        color: var(--contrast);
      }

      input {
        padding: 0 !important;
      }
    }

    .addIcon {
      color: var(--contrast);
      align-self: flex-end;
      padding: 5px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 8px;

    > span {
      color: red;
    }

    .input {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
    }
  }

  @media (max-width: 650px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .gameSelect {
      width: 100%;
    }

    .buttons {
      width: 100%;
    }

    .buttons button {
      width: 100%;
      flex: 1;
    }
  }
}
