.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .gameSelect {
    width: 300px;

    input {
      padding: 0 !important;
    }
  }

  .buttons {
    display: flex;
    gap: 8px;
  }
}
