.general {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: var(--spacing-5);

  > div:first-child,
  .fullColumn {
    grid-column: 1 / -1;
  }

  .levelContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--spacing-1);

    .level {
      width: 4.286rem;
      padding: var(--spacing-1);
    }
  }

  .dropdown {
    min-height: unset !important;
    > i {
      top: 0 !important;
    }
  }

  .gender {
    width: 100%;
    min-width: 8.929rem !important;
    margin-left: auto;
  }
}
