.type {
  display: flex;
  align-items: center;
  height: 2.143rem;
  min-height: 2.143rem;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  box-sizing: unset;

  > svg {
    padding: 0 var(--spacing-0);
    width: 1.714rem;
  }

  .text {
    display: grid;
    place-items: center;
    flex: 1;
    background-color: #595645;
    color: #ffffff;
    height: 100%;
    padding: 0 var(--spacing-1);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
