.type {
  display: flex;
  align-items: center;
  padding: 3px 4.5px;
  color: #333;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font: inherit;
  font-weight: bold;

  > svg {
    height: 100%;
    width: 24px;
  }
}
