.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--spacing-3) var(--spacing-2);
  border-radius: 4px;

  .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  > div:last-child {
    flex-flow: column nowrap;
  }
}
