@import 'src/assets/styles/variables';

.summary {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  gap: var(--spacing-3);
  background-color: var(--bgsecondary);
  padding: var(--spacing-2);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header) !important;
    color: var(--contrast);
    padding: var(--spacing-4) var(--spacing-6);
    font-size: var(--font-size-7);

    .headerTitle {
      max-width: 16.071rem;
    }

    .badges {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-1);
      max-width: 21.249rem;

      .badge {
        height: 2rem;
        width: 2rem;
        filter: brightness(0.2);

        &.active {
          filter: brightness(1);
        }
      }
    }
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-7);
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: var(--spacing-4) var(--spacing-6);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    background-color: var(--card);
    color: var(--contrast);
    border-radius: 4px;

    &.small {
      flex-basis: calc(25% - 1.786rem);
    }

    &.medium {
      flex-basis: calc(25% - 1.786rem);
    }

    &.large {
      flex-basis: calc(75% - 1.786rem);
    }

    .title {
      font-size: var(--font-size-5);
      margin-bottom: var(--spacing-2);
      text-transform: uppercase;
    }

    .team {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30.357rem, 1fr));
      min-width: 0;
      column-gap: var(--spacing-2);

      .pokemon {
        display: grid;
        grid-template-columns: 5.714rem minmax(auto, 11.429rem) minmax(0, 1fr);
        column-gap: var(--spacing-3);
        padding: var(--spacing-1) 0;
        margin-bottom: var(--spacing-2);
        border-bottom: 1px solid var(--contrast);

        > .image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 5.714rem;
          width: 5.714rem;
          align-self: center;
        }
      }
    }

    .stat {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: var(--spacing-1);
      align-items: center;
      gap: var(--spacing-3);
      border: 2px solid var(--contrast);
      border-radius: 4px;
      margin-bottom: var(--spacing-3);
      font-size: var(--font-size-4);

      > b {
        margin-right: auto;
      }
      > svg {
        width: 1.571rem;
        height: 1.571rem;
      }

      :global(.ui.label) {
        background-color: #999;
        color: #fff;
      }
    }

    .box {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-5);

      .pokeImg {
        height: 3.429rem;
        width: 3.429rem;
      }
    }

    .encounters {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      gap: var(--spacing-3);

      .completion {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-3);
        margin-top: var(--spacing-3);

        > b {
          font-size: var(--font-size-4);
          color: var(--badge);
        }

        .circle {
          .circlebg {
            fill: none;
            stroke: #ddd;
          }
          .progress {
            fill: none;
            stroke: var(--badge);
            stroke-linecap: round;
            stroke-linejoin: round;
          }

          .text {
            font-size: var(--font-size-9);
            font-weight: bold;
            fill: var(--badge);
          }
        }
      }

      .byType {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        .byTypeContainer {
          display: grid;
          grid-template-columns: repeat(4, minmax(0, 6.429rem));
          column-gap: var(--spacing-2);
          row-gap: var(--spacing-2);

          .type {
            text-align: center;
            height: 1.714rem;
            min-width: 6.429rem;
            padding: var(--spacing-1);
            border-radius: 8px;
            color: black;
            font-weight: bold;
          }
        }
      }
    }

    .rules {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-1);

      span {
        font-size: var(--font-size-4);
      }

      p {
        font-size: var(--font-size-2);
      }
    }
  }

  .credit {
    color: var(--contrast);
    margin-left: auto;
  }

  &.responsive {
    width: 100%;

    .header {
      gap: var(--spacing-1);
      flex-wrap: wrap;

      > b {
        text-transform: uppercase;
      }
    }
    .row {
      flex-flow: row wrap;
    }

    .card {
      .team {
        @media (max-width: $screen-xs) {
          display: flex;
          flex-flow: column nowrap;

          .pokemon {
            display: grid;
            grid-template-columns: 5.714rem minmax(0, 1fr);
            width: 100%;
            min-width: 0;

            > div:last-child {
              grid-column: 1 / -1;
            }
          }
        }
      }

      .encounters {
        flex-flow: row wrap;

        .byTypeContainer {
          @media (max-width: $screen-xs) {
            grid-template-columns: repeat(3, minmax(0, 6.429rem));
          }
        }
      }

      .rules {
        min-width: 14.286rem;
      }
    }
  }
}
