.statusSelect {
  width: 100%;
  background-color: transparent !important;

  > div {
    color: var(--contrast) !important;
  }
  > i {
    color: var(--contrast);
    top: 0 !important;
  }

  @media (max-width: 550px) {
    font-size: 11px;
  }
}
