.statusSelect {
  height: 30px;
  width: 300px;

  :global(.MuiInputLabel-outlined) {
    transform: translate(14px, 10px) scale(1);
  }

  :global(.MuiInputLabel-outlined.MuiInputLabel-shrink) {
    transform: translate(14px, -6px) scale(0.75);
  }

  input {
    padding: 0 !important;
  }
}
