@import 'src/assets/styles/variables';

.statusSelect {
  width: 100%;
  background-color: transparent !important;
  border-color: var(--contrast) !important;
  min-height: unset;

  > div {
    color: var(--contrast) !important;
  }
  > i {
    color: var(--contrast);
    top: 0 !important;
  }

  @media (max-width: $screen-sm) {
    font-size: var(--font-size-2);
  }
}

.label {
  display: flex;
  align-items: center;
  font-weight: bold;

  .innerLabel {
    min-width: 5.143rem;
  }
}
