@import 'src/assets/styles/variables';

.statusSelect {
  width: 100%;
  align-self: flex-start;
  background-color: transparent !important;
  border-color: var(--contrast-border) !important;
  min-height: unset;

  &:hover {
    border-color: var(--contrast) !important;
  }

  > div {
    color: var(--contrast) !important;
  }
  > i {
    color: var(--contrast);
    top: 0 !important;
  }

  @media (max-width: $screen-sm) {
    font-size: var(--font-size-2);
  }
}
