@import 'src/assets/styles/variables';

.container {
  position: relative;

  > button > i {
    margin-left: var(--spacing-1) !important;
    margin-right: 0 !important;
  }

  @media (max-width: $screen-xs) {
    > button {
      padding: var(--spacing-3);
      > i {
        display: none;
      }
    }
  }

  .popup {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-3);
    position: absolute;
    right: 0;
    top: var(--spacing-9);
    width: 17.857rem;
    min-width: 17.857rem;
    height: fit-content;
    padding: var(--spacing-4);
    background-color: var(--card);
    color: var(--contrast);
    border-radius: 4px;
    box-shadow: 1px 0px 14px 1px #d0d0d0;
    text-align: center;
    z-index: 1;

    > details {
      padding: var(--spacing-1);
      border-bottom: 1px solid var(--contrast);
      text-align: left;

      > div {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--spacing-1);
        padding: var(--spacing-1) 0;
      }
    }

    .dropdown {
      min-height: unset !important;
    }

    .textarea {
      width: 100%;
      resize: none;
    }

    :global(.ui.checkbox) {
      width: 100%;

      label {
        color: var(--contrast);
      }
    }
  }
}
