.container {
  max-height: 75vh;

  padding: 0;
  overflow: auto;

  .table {
    height: 100%;
    width: 100%;
    position: relative;

    table {
      border-collapse: collapse;
      position: relative;
      width: 100%;

      thead tr {
        height: 4.286rem;
        color: #333;
        font-size: var(--font-size-4);
        text-align: center;
        font-weight: bold;
        th {
          padding: 0 var(--spacing-2);
          position: sticky;
          top: calc(-1 * var(--spacing-6));
          background-color: var(--badge);
        }
      }

      tbody tr {
        height: 3.429rem;
        text-align: center;

        &:last-child {
          border: none;
        }
      }

      .nature {
        font-size: var(--font-size-4);
        padding: 0 var(--spacing-2);
      }

      .increased {
        color: #d7a7c0;
      }

      .decreased {
        color: #9ccae2;
      }
    }
  }
}
