@import 'src/assets/styles/variables';

.title {
  font-weight: bold;
  font-size: var(--font-size-6);
  color: var(--contrast);
}

.rematch {
  display: flex;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-1);

  :global(.ui.radio.checkbox > label) {
    color: var(--contrast);
  }
}

.gymPokemon {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-3);
  overflow: auto;

  .pokemon {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 4px;
    gap: var(--spacing-2);
    padding: var(--spacing-2);

    .pokemonHeader {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: var(--spacing-7);

      .pokemonName {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: var(--spacing-2);
        color: var(--contrast);

        > img {
          height: 4.286rem;
          width: 4.286rem;
          object-fit: cover;
        }

        > span {
          font-size: var(--font-size-4);
        }

        .totem {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      .pokemonImage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 4.5rem;
      }

      .pokemonDetails {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--spacing-2);
      }

      .pokemonLabel {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: var(--spacing-1);
        color: var(--contrast);

        > span {
          font-size: var(--font-size-2);
        }

        .value {
          font-size: var(--font-size-3);
        }
      }
    }

    .extendedDetails {
      display: flex;
      gap: var(--spacing-2);

      @media (max-width: $screen-sm) {
        flex-flow: column nowrap;
      }

      > div {
        flex: 1;
      }

      .stats {
        display: grid;
        grid-template-columns: var(--spacing-6) var(--spacing-6) minmax(0, 1fr);
        flex-flow: column nowrap;
        gap: var(--spacing-2);
        font-size: var(--font-size-3);
        font-weight: bold;
        .statLabel {
          color: var(--contrast);
        }

        .statBar {
          height: var(--spacing-4);
        }
      }
    }
  }
}
