.member {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-3);

  .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: var(--contrast);
  }

  .other {
    display: flex;
    flex-flow: nowrap;
    gap: var(--spacing-1);
    align-items: center;

    .arrow {
      color: var(--contrast);
      font-size: var(--font-size-5);
      transition: transform 150ms ease;
      cursor: pointer;
    }

    > div:first-child {
      flex-flow: column nowrap;
    }
  }
}

.details {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2);
  height: 0;
  padding: 0;
  width: 100%;
  transition: height 0.6s, padding 0.6s, clip-path 0s ease-out, height 0.6s ease-out;
  clip-path: inset(0);

  &.open {
    height: 25.071rem;
    padding: var(--spacing-3);
    clip-path: inset(-100vh, -100vw);
  }

  .dropdown {
    min-height: unset !important;

    &.nature {
      margin-right: var(--spacing-2);
    }
    > i {
      top: 0 !important;
    }
  }

  > button {
    margin-top: var(--spacing-3) !important;
    padding: 0 !important;
    height: 2.143rem;
    > i {
      margin-left: var(--spacing-1) !important;
      margin-right: 0 !important;
    }
  }
}
