.pokestats {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 120px);
  overflow: auto;

  .filters {
    display: flex;
    justify-content: space-evenly;
  }

  .fainted {
    width: 26px;
    height: 26px;
    margin-right: 5px;
  }

  .team {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  .tabs {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: calc(100% - 5px);

    :global(.ui.secondary.menu) {
      display: flex;
      flex-flow: row wrap;
    }
    :global(.ui.secondary.menu .active) {
      background-color: var(--card);
      transition: all 500ms;
    }

    :global(.ui.secondary.menu .item) {
      color: var(--contrast);
    }

    :global(.ui.segment) {
      flex: 1;
      overflow: auto;
    }
  }

  .box {
    object-fit: cover;

    &.grass {
      background: url('../../assets/img/boxes/Grass.JPG') repeat;
    }

    &.crag {
      background: url('../../assets/img/boxes/Crag.JPG') repeat;
    }

    &.sky {
      background: url('../../assets/img/boxes/Sky.JPG') repeat;
    }

    &.team {
      display: flex;
      flex-flow: column nowrap;
      gap: 15px;
      position: relative;
      width: 100%;
      background-color: #899928;

      .member {
        display: flex;
        align-items: center;
        position: relative;
        gap: 15px;
        height: 88px;
        background-color: #3790d9;
        border-top-left-radius: 37px;
        border-bottom-left-radius: 37px;
        color: #ffffff;

        .pokeball {
          z-index: 1;
          margin-left: -2px;
          position: relative;
          border-radius: 50%;
          border: 5px solid #333;
          background-image: linear-gradient(#b24000 5%, #b24000 49%, black 5%, white 49%, #b2b8c9);

          > img {
            z-index: 2;
          }
          .center {
            position: absolute;
            top: 48%;
            height: 10px;
            width: 100%;
            background-color: #333;
            z-index: 1;
          }
        }

        .name {
          font-weight: bold;
          position: relative;
          z-index: 1;
        }

        .lineOne {
          position: absolute;
          top: 70%;
          background-color: #80c0d6;
          height: 4px;
          width: calc(100% - 5px);
          margin-left: 5px;
        }

        .lineTwo {
          position: absolute;
          top: 80%;
          background-color: #80c0d6;
          height: 13px;
          width: calc(100% - 20px);
          margin-left: 20px;
        }
      }
    }

    .pokemon {
      height: 72px;
      width: 72px;
      margin: 5px;
      object-fit: contain;
      cursor: pointer;
      position: relative;

      &:hover {
        border: 1px solid black;
        border-radius: 3px;
        object-fit: cover;
      }
    }
  }
}
