.pokestats {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  max-width: 100vw;
  overflow: auto;

  .filters {
    display: flex;
    justify-content: space-evenly;
  }

  .fainted {
    width: 1.857rem;
    height: 1.857rem;
    margin-right: var(--spacing-1);
  }

  .team {
    width: 1.571rem;
    height: 1.571rem;
    margin-right: var(--spacing-1);
  }

  .tabs {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: calc(100% - var(--spacing-1));

    :global(.ui.secondary.menu) {
      display: flex;
      flex-flow: row nowrap;
      overflow: auto;
      padding: var(--spacing-0) var(--spacing-2);
    }
    :global(.ui.secondary.menu .active) {
      background-color: var(--card);
      transition: all 500ms;
    }

    :global(.ui.secondary.menu .item) {
      color: var(--contrast);
    }

    :global(.ui.segment) {
      flex: 1;
      overflow: auto;
      background-color: inherit;
      border: none;
    }
  }

  .box {
    object-fit: cover;

    &.grass {
      background: url('../../assets/img/boxes/Grass.JPG') repeat;
    }

    &.crag {
      background: url('../../assets/img/boxes/Crag.JPG') repeat;
    }

    &.sky {
      background: url('../../assets/img/boxes/Sky.JPG') repeat;
    }

    &.team {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-4);
      position: relative;
      width: 100%;
      background-color: #899928;

      .member {
        display: flex;
        align-items: center;
        position: relative;
        gap: var(--spacing-4);
        height: 6.286rem;
        background-color: #3790d9;
        border-top-left-radius: 37px;
        border-bottom-left-radius: 37px;
        color: #ffffff;

        .pokeball {
          z-index: 1;
          margin-left: calc(-1 * var(--spacing-0));
          position: relative;
          border-radius: 50%;
          border: 5px solid #333;
          background-image: linear-gradient(#b24000 5%, #b24000 49%, black 5%, white 49%, #b2b8c9);

          > img {
            z-index: 2;
          }
          .center {
            position: absolute;
            top: 48%;
            height: 0.714rem;
            width: 100%;
            background-color: #333;
            z-index: 1;
          }
        }

        .memberText {
          display: flex;
          justify-content: space-evenly;
          font-weight: bold;
          position: relative;
          z-index: 1;
          width: 100%;
        }

        .lineOne {
          position: absolute;
          top: 70%;
          background-color: #80c0d6;
          height: 0.286rem;
          width: calc(100% - 0.357rem);
          margin-left: 0.357rem;
        }

        .lineTwo {
          position: absolute;
          top: 80%;
          background-color: #80c0d6;
          height: 0.929rem;
          width: calc(100% - 1.429rem);
          margin-left: 1.429rem;
        }
      }
    }

    .pokemon {
      height: 5.143rem;
      width: 5.143rem;
      margin: 0.357rem;
      object-fit: contain;
      cursor: pointer;
      position: relative;

      &:hover {
        border: 1px solid black;
        border-radius: 3px;
        object-fit: cover;
      }
    }
  }
}
