@import 'src/assets/styles/variables';

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: var(--spacing-3);
  padding: 0 var(--spacing-1);

  .options {
    display: flex;
    width: calc(100% - var(--spacing-3));
    padding: 0 var(--spacing-1);
    position: relative;

    > button > i {
      margin-left: var(--spacing-1) !important;
      margin-right: 0 !important;
    }

    @media (max-width: $screen-md) {
      > button {
        padding: var(--spacing-3);
        > i {
          display: none;
        }
      }
    }
  }

  .loading {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    color: var(--contrast);
  }

  .inner {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-1);
    width: 100%;
    overflow: auto;
  }

  .offscreen {
    position: absolute;
    width: $screen-lg;
    max-width: $screen-lg;
    bottom: -100000px;
    right: -100000px;
  }
}
