.header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-column: 1 / -1;
  align-items: center;
  width: 100%;
  padding: var(--spacing-2);
  background-color: var(--card);
  border-radius: 4px;

  .options {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    margin: 0 0 var(--spacing-3) auto;

    .button > i {
      margin-left: var(--spacing-2) !important;
      margin-right: 0 !important;
    }

    .genSelector {
      width: 100%;
      min-width: 9.286rem !important;
      max-width: 9.286rem;
      background-color: transparent !important;
      color: var(--contrast) !important;

      > div {
        color: var(--contrast) !important;
      }

      > i {
        color: var(--contrast);
        top: 0 !important;
      }
    }

    .help {
      font-size: var(--font-size-4);
      cursor: help;
      color: var(--contrast);
    }
  }

  .primary {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    grid-column: 1 / -1;
    width: 100%;
    color: var(--contrast);
    font-weight: bold;

    > output {
      text-align: center;
      margin: auto;
      justify-self: center;
    }

    > .expand {
      font-size: var(--font-size-7);
      justify-self: flex-end;
      transition: transform 150ms ease;
      cursor: pointer;
    }
  }

  .moreResults {
    grid-column: 1 /-1;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 var(--spacing-2);
    margin-top: var(--spacing-3);
    gap: var(--spacing-2);
    width: 100%;
    height: 0;
    clip-path: inset(0);
    color: var(--contrast);

    &.open {
      height: fit-content;
      clip-path: inset(-100vh, -100vw);
    }

    .grouped {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-1);

      > div {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      .active {
        color: var(--badge);
        font-weight: bold;
      }
    }
  }
}
