.options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search {
    width: 100%;
    max-width: 50%;
  }

  .buttons {
    display: flex;
    gap: 2px;
    font-weight: bold;

    > button > i {
      margin-left: 5px !important;
      margin-right: 0 !important;
    }
  }

  @media (max-width: 992px) {
    flex-wrap: wrap;
    gap: 10px;

    .search {
      max-width: 100%;
    }

    .buttons {
      width: 100%;
      button {
        width: 100%;
        flex: 1;
      }
    }
  }

  @media (max-width: 500px) {
    gap: 2.5px;
    .buttons button {
      font-size: 10px !important;
    }
  }
}
