.app {
  display: flex;
  height: 100vh;
  width: 100%;

  .appBar {
    background-color: var(--app);
    z-index: 1201;

    .menuIcon {
      margin-right: 36px;
    }

    .darkIcon {
      margin-left: auto;
    }
  }

  .main {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 64px;
    margin-bottom: 15px;

    @media (max-width: 500px) {
      margin-top: 58px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--app);
    color: #ffffff;
    padding: 2px 0;
    font-size: 10px;

    @media (max-width: 700px) {
      font-size: 8px;
    }

    @media (max-width: 550px) {
      font-size: 7px;
    }

    @media (max-width: 500px) {
      font-size: 5px;
    }
  }
}
