.app {
  height: 100vh;
  background-color: var(--bgprimary);
  .input {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
  }

  .gameSelect {
    width: 100%;
    max-width: 300px;
    background-color: transparent !important;
    color: var(--contrast) !important;

    > i {
      color: var(--contrast);
      top: 0 !important;
    }
  }

  :global(.button) {
    box-shadow: none !important;
  }

  .container {
    height: calc(100% - 42px);
  }

  .modalContent {
    display: flex;
    flex-flow: column nowrap;
  }
}
