/* Responsive Variables */
$break1: '(max-width:35.643rem)';
$break2: '(min-width:35.714rem) and (max-width:71.714rem)';
$break2open: '(min-width:35.714rem)';
$break3: '(min-width:71.786rem)';

$screen-xxs: 22.857rem; /* 320px */
$screen-xs: 35.714rem; /* 500px */
$screen-sm: 39.286rem; /* 550px */
$screen-md: 53.751rem; /* 750px */
$screen-lg: 85.714rem; /* 1200px */
