.iconButton {
  width: 4rem;
  height: 4rem;
  > i {
    padding-top: var(--spacing-2);
    font-size: var(--font-size-8);
  }

  &:hover {
    background-color: var(--badge);
    color: #ffffff;
  }
}
