.content {
  > div:first-child {
    margin-bottom: var(--spacing-3);
  }

  .rowContainer {
    padding-right: var(--spacing-3);
    border-radius: 4px;

    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 var(--spacing-3);
      height: calc(100% - var(--spacing-3));
      border-radius: 4px;
      cursor: pointer;

      &.dupe {
        filter: grayscale(100%);
      }

      &:hover {
        transform: scale(1.01);
      }

      .suggestion {
        display: flex;
        gap: var(--spacing-1);
        align-items: center;
        position: absolute;
        font-size: var(--font-size-4);
        top: var(--spacing-0);
        left: var(--spacing-2);
        width: fit-content;
        padding: var(--spacing-0);
        background-color: #80c0d690;
        border-radius: 4px;
        font-weight: bold;
        color: black;
        z-index: 1;

        > i {
          height: 100%;
          margin: 0;
          color: gold;
        }
      }

      .details {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3.5rem;
          width: 4.5rem;
        }
      }

      > div:last-child {
        flex-flow: column nowrap;
      }
    }
  }
}
