.table {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-2);
  flex: 1;
  min-height: 0;

  .row {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto minmax(2.286rem, auto) minmax(3.857rem, auto);
    column-gap: var(--spacing-2);
    row-gap: var(--spacing-2);
    height: fit-content;
    margin: var(--spacing-0) var(--spacing-1) var(--spacing-3) var(--spacing-0);
    padding: var(--spacing-3);
    color: var(--contrast);
    background-color: var(--card);
    transition: all 500ms;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    &.type {
      border: 3px solid;
    }

    .header {
      display: flex;
      justify-content: space-between;
      grid-column: span 2;

      .location {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        height: 1.429rem;
        min-height: 1.429rem;
      }

      .buttons {
        display: flex;
        gap: var(--spacing-1);
        > button {
          margin-right: 0 !important;
          font-size: var(--font-size-2);
        }
      }
    }

    .moreOptions {
      display: flex;
      gap: var(--spacing-2);
      align-self: center;
      align-items: center;
    }
  }

  .list {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .noGame {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    gap: var(--spacing-4);
    height: 71.429rem;
    min-height: 71.429rem;
    max-height: 71.429rem;

    > svg {
      width: 50%;
      max-width: 25.714rem;
      margin-top: var(--spacing-5);
      path {
        fill: var(--contrast);
      }
    }

    > span {
      font-size: var(--font-size-7);
      font-weight: bold;
      color: var(--contrast);
    }
  }
}

.editOptions {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: flex;
    gap: var(--spacing-2);
    padding: var(--spacing-2) var(--spacing-1);
    font-size: var(--font-size-3);
    border-bottom: 1px solid var(--contrast);
    cursor: pointer;

    &:hover {
      background-color: grey;
    }

    > i {
      margin-left: auto;
      margin-right: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
