@import 'src/assets/styles/variables';

.content {
  display: flex !important;
  flex-flow: column nowrap;
  gap: var(--spacing-3);

  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .headerLeft {
      display: flex;
      flex-flow: column nowrap;

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.714rem;
        width: 7.143rem;
        align-self: center;
      }
    }
  }

  .soulink {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-2);

    .selector {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      gap: var(--spacing-2);
      padding-left: var(--spacing-3);
      height: auto;
      width: calc(100% - var(--spacing-3));
      align-items: flex-start;
      color: var(--contrast);
      box-sizing: unset;
      border-radius: 4px;
      border: 1px solid var(--contrast-border);
      cursor: pointer;

      .deleteSoullink {
        position: absolute;
        top: var(--spacing-3);
        right: var(--spacing-3);
      }

      &:hover {
        border-color: var(--contrast);
      }

      @media (max-width: $screen-sm) {
        font-size: var(--font-size-2);
      }

      > .image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 4.8rem;
        height: 3.5rem;
      }

      .placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--placeholder);
        margin: var(--spacing-2) auto;
        height: var(--spacing-9);
      }

      .soulLinkName {
        margin-top: auto;
        margin-bottom: var(--spacing-2);
      }
    }
  }

  summary {
    padding: var(--spacing-4);
    display: block;
    padding-left: var(--spacing-8);
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      border-width: 0.4rem;
      border-style: solid;
      border-color: transparent transparent transparent var(--contrast);
      position: absolute;
      top: 1.3rem;
      left: 1rem;
      transform: rotate(0);
      transform-origin: 0.2rem 50%;
      transition: 0.25s transform ease;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  .expandable {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-3);

    .fieldset {
      display: grid;
      grid-template-columns: 2.857rem minmax(0, 1fr) 2.857rem;
      column-gap: var(--spacing-3);
      row-gap: var(--spacing-4);
      color: var(--contrast);
      padding: var(--spacing-5);
      border-radius: 4px;
    }
  }

  .name {
    font-weight: bold;
    align-self: center;
  }

  .natureContainer {
    display: flex;
    gap: var(--spacing-1);

    input {
      box-sizing: border-box;
    }
  }

  .input > input {
    color: var(--contrast) !important;
    background-color: transparent !important;
    border: 1px solid var(--contrast-border);
  }

  :global(.ui.checkbox) {
    width: fit-content;
    > label {
      color: var(--contrast) !important;
    }
  }

  .textarea {
    width: 100%;
    resize: none;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: var(--spacing-3);
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
