.content {
  display: flex !important;
  flex-flow: column nowrap;
  gap: var(--spacing-3);

  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .headerLeft {
      display: flex;
      flex-flow: column nowrap;

      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.714rem;
        width: 7.143rem;
        align-self: center;
      }
    }
  }

  summary {
    padding: var(--spacing-4);
    display: block;
    padding-left: var(--spacing-8);
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      border-width: 0.4rem;
      border-style: solid;
      border-color: transparent transparent transparent var(--contrast);
      position: absolute;
      top: 1.3rem;
      left: 1rem;
      transform: rotate(0);
      transform-origin: 0.2rem 50%;
      transition: 0.25s transform ease;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  details[open] > summary:before {
    transform: rotate(90deg);
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  .expandable {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-3);
  }

  .name {
    font-weight: bold;
    align-self: center;
  }

  .natureContainer {
    display: flex;
    gap: var(--spacing-1);

    input {
      box-sizing: border-box;
    }
  }

  .input > input {
    color: var(--contrast) !important;
    background-color: transparent !important;
    border: 1px solid var(--contrast);
  }

  .dropdown {
    min-height: unset !important;
    background-color: transparent !important;
    color: var(--contrast) !important;
    border: 1px solid var(--contrast) !important;
    > i {
      top: 0 !important;
    }

    > input {
      color: var(--contrast) !important;
    }
  }

  .textarea {
    width: 100%;
    resize: none;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: var(--spacing-3);
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
