.settings {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-3);

  :global(.ui.checkbox label),
  :global(.ui.checkbox input:focus ~ label) {
    color: var(--contrast);
  }

  .dropdown {
    max-width: 200px;
  }

  .label {
    color: var(--contrast);
  }
}
