.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--spacing-2);
  color: var(--contrast);

  > div:first-child {
    width: 100%;
    flex: 1;
  }

  .checkbox {
    margin-left: auto;
  }

  .showAll {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--spacing-2);
    color: var(--contrast);
    align-self: flex-end;

    .dropdown {
      margin-right: auto;
      max-width: 70%;
      color: black;
      > i {
        top: 0 !important;
      }
    }
  }
}
