.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
  color: var(--contrast);

  > div:first-child {
    width: 100%;
    flex: 1;
  }

  .checkbox {
    margin-left: auto;
  }

  .showAll {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--contrast);
    align-self: flex-end;
  }
}
