@import 'src/assets/styles/variables';

.beta {
  display: flex;
  padding: var(--spacing-2);
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  font-weight: bold;
  font-size: var(--font-size-5);
  border-radius: 4px;
  align-self: center;
}

.warning {
  font-size: var(--font-size-4);
}

.button {
  background-color: transparent !important;
  color: var(--contrast) !important;

  &:hover {
    background-color: transparent;
    color: var(--contrast) !important;
  }

  @media (max-width: $screen-sm) {
    padding: var(--spacing-1) !important;
  }
}

.account {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-3);

  > p {
    font-size: var(--font-size-5);
    font-weight: bold;
    margin: 0;

    &:not(first-child) {
      margin-top: var(--spacing-4);
    }
  }

  .refreshContainer {
    display: flex;
    gap: var(--spacing-3);

    > span {
      display: flex;
      align-items: center;
    }
  }

  .refresh {
    display: flex;
    gap: var(--spacing-2);
    width: fit-content;
  }
}
