.options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  margin-bottom: 10px;

  > button {
    white-space: nowrap;
    max-width: 130px;
    max-height: 36px;
    flex: 1;

    @media (max-width: 630px) {
      max-width: unset;
    }
    > i {
      margin-left: 5px !important;
      margin-right: 0 !important;
    }
  }

  .button {
    flex: unset;
  }

  .ruleSelect {
    flex: 1;
    > i {
      top: 0 !important;
    }
  }
}

.rules {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  height: calc(100vh - 180px);
  overflow: auto;

  .rule {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    padding: 10px;
    color: var(--contrast);
    background-color: var(--card);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;

    .dnd {
      display: flex;
      flex-flow: column nowrap;
      gap: 2.5px;

      > button {
        padding: 7.5px;
      }
    }

    .number {
      font-weight: bold;
      font-size: 24px;
    }
  }
}
