@import 'src/assets/styles/variables';

.pokemonSelect {
  grid-row: span 2;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-1);
  font-weight: bold;
  height: 100%;
  min-height: 7rem;
  position: relative;

  .container {
    display: flex;
    flex: 1;

    > div {
      flex: 1;
    }

    .selector {
      display: flex;
      flex-flow: column nowrap;
      position: relative;
      gap: var(--spacing-2);
      padding-left: var(--spacing-3);
      height: 100%;
      width: calc(100% - var(--spacing-3));
      color: var(--contrast);
      box-sizing: unset;
      border-radius: 4px;
      border: 1px solid var(--contrast-border);
      cursor: pointer;

      &:hover {
        border-color: var(--contrast);
      }

      @media (max-width: $screen-sm) {
        font-size: var(--font-size-2);
      }

      > .image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 4.8rem;
        height: 3.5rem;
      }

      .placeholder {
        color: var(--placeholder);
        margin: auto;
      }

      .name {
        margin-top: auto;
        margin-bottom: var(--spacing-2);
      }

      .level {
        position: absolute;
        top: var(--spacing-2);
        right: var(--spacing-2);
      }
    }
  }

  > .alert {
    position: absolute;
    right: 0;
    top: 0;
    font-size: var(--font-size-2);
    color: red;
    margin-left: var(--spacing-1);
  }
}
