@import 'styles/variables';

.pokemonSelect {
  display: flex;
  align-items: center;
  font-weight: bold;

  .innerLabel {
    display: flex;
    flex-flow: column nowrap;
    min-width: 5.143rem;

    > span {
      font-size: var(--font-size-1);
      color: red;
      line-height: 1;
    }
  }

  .container {
    display: flex;
    width: 100%;

    > div {
      flex: 1;
    }

    .selector {
      display: flex;
      flex-flow: row nowrap;
      gap: var(--spacing-2);
      padding-left: var(--spacing-3);
      align-items: center;
      height: 2.571rem;
      width: calc(100% - var(--spacing-3));
      color: var(--contrast);
      box-sizing: unset;
      border-radius: 4px;
      border: 1px solid var(--contrast);
      cursor: pointer;

      @media (max-width: $screen-sm) {
        font-size: var(--font-size-2);
      }

      &.evolve {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
      }

      > img {
        width: 2.464rem;
        height: 2.143rem;
        object-fit: cover;
      }
    }
  }
}
